			
			<div class="form-group">
			    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control input-sm" ng-model ="book.title" id="inputTitle" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			  	<label for="imgCover" class="col-sm-2 control-label">Cover</label>
			  	<div class="col-sm-4" id = "imgCover">
			      <img ng-src="{{book.imageUrl}}" alt="..." class="img-thumbnail">			      
			    </div>		
			    <div class=" col-sm-offset-2 col-sm-10" ng-hide = "(book.hasImage || book.ownedByCurrentUser == false)">			      
				  <h4><span class="label label-warning" >Could not find an proper cover.</span></h4>
				  <h5>
				  	<a href ="http://images.google.com/images?q={{book.title}}" target="_blank">Search</a> for a cover and copy image URL here.
				  </h5>
				  <div class="input-group">
			      	<input type="text" class="form-control input-sm" ng-model ="book.imageUrl" id="inputImageUrl" >
			       	<span class="input-group-btn">
				        <button class="btn btn-default btn-sm" type="button" ng-click="book.imageUrl = ''">
				        	 <span class="glyphicon glyphicon-remove"></span>
				        </button>
				   	</span>				   	
				  </div>
			    </div>	    
			   </div>
			  <div class="form-group">
 				<label for="inputAuthors" class="col-sm-2 control-label">Authors</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control input-sm" ng-model ="book.authors" id="inputAuthors" readonly>
			    </div>	
			</div>
			  <div class="form-group" ng-hide = "book.subtitle != ''">
			    <label for="inputSubtitle" class="col-sm-2 control-label">Subtitle</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control input-sm" ng-model ="book.subtitle" id="inputSubtitle" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" rows="8" ng-model ="book.description" id="inputDescription"></textarea>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputLanguage" class="col-sm-2 control-label">Language</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control input-sm" ng-model ="book.language" id="inputLanguage" readonly>
			    </div>
			    <label for="inputPageCount" class="col-sm-2 control-label">Page count</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control input-sm" ng-model ="book.pageCount" id="inputPageCount" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputCategories" class="col-sm-2 control-label">Categories</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control input-sm" ng-model ="book.categories" id="inputCategories" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputISBN" class="col-sm-2 control-label">ISBN</label>
			    <div class="col-sm-10">
			      <!-- <input type="text" class="form-control input-sm" ng-model ="book.isbn" id="inputISBN" disabled> -->			      
      				<p class="form-control-static" style = "font-size: 140%;">{{book.isbn}}</p>			      
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="selectLocation" class="col-sm-2 control-label">Book's location</label>
			    <div class="col-sm-4">
			       <select class="form-control" ng-model="bookLocation" ng-options="city for city in cities" id="selectLocation"></select>			      
			    </div>
			  </div>
			  <div class="form-group">
			  	<label for="selectPrice" class="col-sm-2 control-label">Price <span class="glyphicon glyphicon-euro"></span></label>
			    <div class="col-sm-2">
			       <select class="form-control" ng-model="bookPrice" ng-options="price for price in prices" id="selectPrice"></select>			       
			    </div>			    
			  </div>