<div nav-menu></div>
<div class="container-fluid">
	<div class="panel panel-default add-book-panel">
	  <div class="panel-body">
	  	<form class="form-inline" role="form">
	  		<div class="form-group">
		  		<label class="sr-only" for="isbnInput">ISBN</label>
			    <input type="text" class="form-control" ng-model = "isbn" id="isbnInput" placeholder="ISBN ..."/>
		   		<button type="button" class="btn btn-primary btn-sm" ng-click="searchBookInfoByISBN(isbn)">{{texts.addBook.findBook[lang]}}</button>
		   		<img ng-show = "searching" src="../img/ajax-loader-small.gif"/>
		   		<div ng-hide = "book.title != ''">
		   			<br>
		   			<div class="alert alert-warning" role="alert">
						<strong>{{texts.addBook.couldNotFindBook[lang]}}</strong><br>
						{{texts.addBook.improvingSearch[lang]}} {{texts.addBook.tryAgainFewDays[lang]}}
					</div>					
				</div>
			</div>
		</form>
	  </div>
	  
	  <div class="panel-body" ng-show = "bookFound">	  
		  <form class="form-horizontal" role="form">		  	 
			  <div book-info></div>		
			  <div class="form-group">
			  	<hr>
			  	<div class="col-sm-offset-2 col-sm-10">
			  		<button ng-hide = "startedAdding" type="button" class="btn btn-primary btn-sm" ng-click="addToBookshelf(book)">{{texts.addBook.addToBookshelf[lang]}}</button>				  		
			  		<img ng-show = "inProcess" src="../img/ajax-loader-small.gif"/>
		  			<div ng-show = "success" class="alert alert-success" role="alert">
						<strong>{{texts.addBook.addedToBookshelf[lang]}}</strong>
					</div>
		  			<div error-labels ng-show = "addFailed" ></div>			  	
			  	</div>
			  </div>
		  </form>
		</div>
	</div>
</div>




