<div nav-menu></div>
<img ng-show= "loading" src="../img/ajax-loader-big.gif" style="float: center;"/>
<div class="container-fluid">
	<div class="panel panel-default">
	  <div class="panel-body" ng-hide = "loading" >
			<form class="form-horizontal" role="form">		  	 
			  	<div book-info ></div>		
			  	<div class="form-group" >
			  		<hr>				  	
				  	<div ng-if = "book.ownedByCurrentUser" >
				  		<div class="col-sm-offset-2 col-sm-10">
							<button ng-hide = "(startedSaving ||startedRemoving) " type="button" class="btn btn-primary btn-md" ng-click="saveBook(book)"  style="float: left;">{{texts.book.saveChangesBtn[lang]}}</button>
							<img ng-show = "savingInProcess" src="../img/ajax-loader-small.gif" style="float: left;"/>
							<div ng-show = "saved" class="alert alert-success" role="alert">
							  <strong>{{texts.book.changesSaved[lang]}}</strong>
							</div>					

							<button ng-hide = "(startedSaving ||startedRemoving)" type="button" class="btn btn-danger btn-xs" ng-click="removeBook(book.id)" style="float: right;">{{texts.book.removeBtn[lang]}}</button>
							<img ng-show = "removingInProcess" src="../img/ajax-loader-small.gif" style="float: left;"/>							
							<div ng-show = "removed" class="alert alert-success" role="alert">
							  <strong>{{texts.book.removedFromBookshelf[lang]}}</strong>
							</div>
							
							<div error-labels ng-show = "updateFailed" >
							</div>									
						</div>												  	
				  	</div>
				  	<div ng-if = "book.ownedByCurrentUser == false" >
				  		<label for="inputCategories" class="col-sm-2 control-label">{{texts.book.interested[lang]}}</label>
					    <div class="col-sm-10">
							<button ng-if="isUserLoggedIn" ng-hide = "startedSending" type="button" class="btn btn-primary btn-md" ng-click="sendMessageToOwner(book.id)"  style="float: left;">{{texts.book.letOwnerKnowBtn[lang]}}</button>
                            <div ng-if="isUserLoggedIn == false" style="font-size: 14px;">
                              {{texts.book.contactOwnerNeedToBe[lang]}} <a href="/login?Book">{{texts.book.loggedIn[lang]}}</a>. 
                            </div>
                            <img ng-show = "sendingInProcess" src="../img/ajax-loader-small.gif" style="float: left;"/>
							<div ng-show = "sent" class="alert alert-success" role="alert">
							  <strong>{{texts.book.emailSentToOwner[lang]}}</strong> {{texts.book.checkInboxForCopy[lang]}}
							</div>

							<div error-labels ng-show = "sendFailed" ></div>						      
					    </div>						
				  	</div>
				</div>  
		  	</form>	
		</div>
	</div>
</div>