<div class="wrap" >
    <img ng-show= "loading" style ="padding-top: 5%;" src="../img/ajax-loader-big.gif" style="float: center;"/>
	<div class="box" ng-repeat="book in books | filter:b" >
	  <div class="pin" ng-controller = "bookNavController">
	    <a href="" ng-click="showBookDetails(book)"><img ng-src="{{book.imageUrl}}"/></a>
	    <div class = "description title">{{book.title}}</div>      
	    <div class = "description author">{{book.authors.join(', ').substring(0,40)}}</div>
	    <div class = "description hideForSmall desc">
	    	<div ng-show="book.title.length + book.authors.join(', ').substring(0,40).length < 46">{{book.description.substring(0,43)}}
	    		<!--a href ="" ng-click="showBookDetails(book)">[{{texts.bookshelf.more[lang]}}]</a-->	    		
	    	</div>
	    </div>
	    <div class = "description language">{{book.language}}</div>
	    <!-- div class = "description hideForSmall">
	    	<div ng-show="book.description.length >130">{{book.description.substring(0,130)}}
	    		<a href ="" ng-click="showBookDetails(book)">[{{texts.bookshelf.more[lang]}}]</a>	    		
	    	</div>
	    	<div ng-show="book.description.length <=130">{{book.description}}</div>
	    </div-->
	    <div class = "price">{{book.price}} &euro; {{book.location}}</div>
	  </div>
	</div>
</div>