<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/Bookshelf">Shared Shelves</a>
      <form class="navbar-form navbar-left" role="search">
      	<div class="form-group" style="padding-left: 15px;"">    
        	<input type="search" class="form-control search-box" ng-model="b" placeholder="Author, title, lang, city ..."/>
        </div>
      </form>       
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-left">
      	<li><a href="/#/AddBook"><span class="glyphicon glyphicon-plus"></span> {{texts.menu.addBook[lang]}}</a></li>
        <li><a href="/#/MyBooks"><span class="glyphicon glyphicon-book"></span> {{texts.menu.myBooks[lang]}}</a></li>
    	<li><a href="" ng-controller = "languageController" ng-click="setLanguage(0)"><img alt="" src="../img/uk.jpg" style = "width: 20px;"></a></li>
	   	<li><a href="" ng-controller = "languageController" ng-click="setLanguage(1)"><img alt="" src="../img/fi.png" style = "width: 20px;"></a></li>               	   	
      </ul>  
      <ul class="nav navbar-nav navbar-right" ng-controller = 'userDataController'>      
      	<li><a href="/#/FAQ#top"><span class="glyphicon glyphicon-question-sign"></span></a></li>      	      
      	<li><a href="/login.html"><span class="glyphicon glyphicon-user"></span> Logout {{user.name}}</a></li>               
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>