<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller = "navController">
  <div class="container-fluid">  
 	<a class="navbar-brand" href="/#/Bookshelf" ng-click="$parent.b=''" id ="home-icon">
   		<span class="glyphicon glyphicon-home"></span>
   	</a>    	    
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/Bookshelf" ng-click="$parent.b=''">Shared Shelves</a>
      <form class="navbar-form navbar-left" role="search">
      	<div class="form-group" >    
        	<input type="search" class="form-control search-box" ng-model="$parent.b" placeholder="Author, title, lang, city ..."/>
        </div>
      </form>       
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-left">
      	<li><a href="/#/AddBook" class ="menu-link"><span class="glyphicon glyphicon-plus"></span> {{$parent.texts.menu.addBook[lang]}}</a></li>
        <li><a href="/#/MyBooks" ng-click="$parent.b=''" class ="menu-link"><span class="glyphicon glyphicon-book"></span> {{$parent.texts.menu.myBooks[lang]}}</a></li>
        <li><a href="" ng-click ="toggleLanguageMenu()" class ="menu-link"><span class="glyphicon glyphicon-bullhorn"></span> {{$parent.texts.menu.lang[lang]}}</a></li>
		<div class = "menu-lang show-hide" ng-show = "showLanguages == true">
			<a href="" ng-click="setLanguage(0)">en</a>
	   		<a href="" ng-click="setLanguage(1)">fi</a>
	   		<a href="" ng-click="setLanguage(2)">es</a>
		</div>
      </ul>  
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="/#/FAQ" class ="menu-link"><span class="glyphicon glyphicon-question-sign"></span></a></li>      
      	<li><a href="/logout" class ="menu-link" alt ="Logout"><span class="glyphicon glyphicon-log-out"></span> {{user.name}}</a></li>               
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
