body {
    margin: 0;
    background-color:#e9eaed;
    font: 12px/18px 'Lucida Sans', sans-serif;
  
 }
 .wrap {
    overflow: hidden;
	margin-top: 5%;
 }
 
 .margin, .container-menu{
 	margin-right: 12%;
	margin-left: 12%;
 }
 
 .box {
    float: left;
    position: relative;
    width: 165px;   
    margin-bottom: 7px; 
 }
 
 .pin {
    display: block;
    background: #FEFEFE;
    -moz-border-radius: 7px;
	border-radius: 7px;
    /*border: 2px solid #FAFAFA;*/
    /*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
    box-shadow: 0 1px 2px rgba(111, 108, 108, 1);
    margin: 0 4px 18px 4px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    /*padding: 1px;*/
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;    
    /*height: 565px;*/
    /*height: 480px;*/
    /*height: 340px;*/
    /*height: 320px;*/
    height: 306px;
    font: 12px/18px Arial, sans-serif;   
}

.pin .cover{
    width: 100%;    
    padding-bottom: 3px;
    /*margin-bottom: 5px;*/
    height: 213px;
    
    -moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.pin .description{    
    color: #333;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;    
}
.pin .title{
	font-weight: bold;
}

.pin .author {
    padding-left: 4px;
    padding-right: 4px;
    font: italic 11px/17px Arial, sans-serif;   
}

.pin .desc {
	font: italic 11px/17px Arial, sans-serif;
	line-height: 100%;
	margin-top: 5px;
	padding-left: 8px;
}

.pin .line{
	border-bottom: 1px solid #ccc;
}

.pin .price{
	color: #333;   
    position: absolute;
	bottom: 20px;
	left: 9px;
}
.pin .language{
	position: absolute;
	bottom: 22px;
	right: 7px;
	font: 10px Arial, sans-serif;
}

.pin a{
	font: 12px/18px Arial, sans-serif
}

.contact-info {
   font: 12px/15px 'Lucida Sans',sans-serif;
}

.image-cover{
	max-height: 300px;
}

.panel {
    	margin-right: 12%;
    	margin-top: 5%;
    	margin-left: 12%;
    }

.pin .ajax-loading {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.33);
	top: 30%;
	left: 40%;
	/*width: 16px;
	height: auto;*/
}
.no-blue-link{
	color: inherit; 
	text-decoration: none;
}
.no-blue-link:hover, .no-blue-link:focus{
	color: inherit; 
    text-decoration:underline; 
    cursor:pointer;  
}
.footer-label{
	color: white;
    font-weight: 500;
}
/* Bootstrap overrides*/
.control-label{
	color: #555;
}

.form-control-static{
	font-size: 120%;
}
.alert{
	font-size: 14px;
}

 @media only screen and (max-width : 380px) {
    .wrap {
	    margin-top: 23%;
	 }
	 .margin, .container-menu{
	 	margin-right: 1%;
		margin-left: 1%;
	 }
    .box {
       width: 150px;
    }
    .navbar {
        font-size: 10px;
    }
    a, .navbar-brand {
        font-size: 10px;
    }
    input[type="search"]
    {
        height: 25px;
    }
    .panel {
    	margin-right: 1%;  	
    	margin-top: 23%;
    	margin-left: 1%;
    }
    .hideForSmall{
    	display:none;
    }    
    
 }
 
 @media only screen and (max-width : 481px) and (min-width : 380px) {
    .wrap {	    
		margin-top: 16%;
	 }
	 .margin, .container-menu{
	 	margin-right: 1%;
		margin-left: 1%;
	 }
    .box {
       width: 150px;
    }
    .navbar {
        font-size: 10px;
    }
    a, .navbar-brand {
        font-size: 10px;
    }
    input[type="search"]
    {
        height: 25px;
    }
    .panel {
    	margin-right: 1%;
    	margin-top: 16%;
    	margin-left: 1%;
    }
    .hideForSmall{
    	display:none;
    }    
 }
 
 @media only screen and (max-width : 650px) and (min-width : 481px) {
    .wrap {
	    margin-top: 14%;
	 }
	 .margin, .container-menu {
	 	margin-right: 1%;
		margin-left: 1%;
	 }
    .navbar {
        font-size: 10px;
    }
    .navbar-nav a, .navbar-brand {
        font-size: 15px;
    }
    input[type="search"]
    {
        height: 25px;
    }
    .panel {
    	margin-right: 1%;
    	margin-top: 14%;
    	margin-left: 1%;
    }
 }
 
 
 @media only screen and (max-width : 860px) and (min-width : 651px){
    
    .wrap {	    
		margin-top: 9%;
	 }
	 .margin, .container-menu{
	 	margin-right: 2%;
		margin-left: 2%;
	 }
    .panel {
    	margin-right: 2%;
    	margin-top: 9%;
    	margin-left: 2%;
    }
 }
 
 @media only screen and (max-width : 1050px) and (min-width : 861px){
    .wrap {	    
		margin-top: 7%;
	 }
	 .margin, .container-menu{
	 	margin-right: 5%;
		margin-left: 5%;
	 }
    .panel {
    	margin-right: 5%;
    	margin-top: 7%;
    	margin-left: 5%;
    }
 }
 
 @media only screen and (max-width : 1170px) and (min-width : 1051px) {
    .margin, .container-menu{
        margin-right: 7%;
        margin-left: 7%;
     }
 }
 
 @media only screen and (max-width : 1350px) and (min-width : 1171px) {
    .margin, .container-menu{
        margin-right: 9%;
        margin-left: 9%;
     }
      
 }

 @media only screen and (max-width : 1550px) and (min-width : 1351px) {
    .margin, .container-menu{
        margin-right: 12%;
        margin-left: 12%;
     }
 }

@media only screen and (max-width : 1750px) and (min-width : 1551px) {
    .margin, .container-menu{
        margin-right: 15%;
        margin-left: 15%;
     }
 }

 @media only screen and (max-width : 1950px) and (min-width : 1751px) {
    .margin, .container-menu{
        margin-right: 18%;
        margin-left: 18%;
     }
 }
