<div nav-menu></div>
<!-- div class="container-fluid">
	<div class="row" >
	  <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" ng-repeat="book in books | filter:b">
	  	<div class="thumbnail">
  			<img data-src="holder.js/100%x100%" alt="100%x200" src="{{book.imageUrl}}" style="height: 100%; width: 100%; display: block;">
		    <div class="caption">
		      <p>{{book.title}}</p>
		      <p>{{book.authors}}</p>
		      <p class = "hidden-xs">{{book.description.substring(0,200)}}</p>
		      <p>{{book.price}} &euro; in {{book.location}}</p>		      
		    </div>
	  	</div>
	  </div>	  
	</div>
</div-->